.circle-block {
    position: absolute;
    z-index: -1;
    right: 450px;
    top: 650px;
    transform: translate(50%, -50%);
}

.circle {
    position: relative;
    border: 1px solid var(--black);
    border-right: none;
    border-radius: 50%;
    margin-left: 500px;
    animation: rotation linear infinite;
}

.circle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--black);
    background-color: var(--black);
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}